* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #D658B3;
    --green: #45B442;

    --gray-700:#332B31;
    --gray-600:#4A4448;
    --gray-500:#756C71;
    --gray-400:#D3CFD2;
    --gray-300:#DFDCDF;
    --gray-200:#E9E7E9;
    --gray-100:#F4F1F2;
    --white: #FFFFFF;

    --gradient-base: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);

    --ff-base: 'Oxygen', 'sans-serif';
    --title-md: bold 1.5rem/1.4 var(--ff-base);
    --title-sm: bold 1.125rem/1.4 var(--ff-base);
    --subtitle-md: bold 0.875rem/1.4 var(--ff-base);
    --subtitle-sm: bold 0.75rem/1.4 var(--ff-base);
    --text-md: normal 1rem/1.4 var(--ff-base);
    --text-sm: normal 0.875rem/1.4 var(--ff-base);
    --text-xs: normal 0.75rem/1.4 var(--ff-base);
}

body {
    font-family: var(--ff-base);
    background-color: var(--gray-200);
}

.container {
    padding: 0.75rem;
}

.base{
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    width: 100%;
    border-radius: 1rem;
}

@media (width >= 60em) {
    main {
        display: grid;
        margin-top: 4rem;
        margin-inline: 8em;
        gap: 0.5rem;
        grid-template-columns: 35% 65%;
    }
}

@media (width < 60em){
    .hidden {
        display: none !important;
    }
}