.user{
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    width: 100%;
    border-radius: 1rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    grid-area: user;

    & img{
        background: var(--gradient-base);
        width: 56px;
        height: 56px;
        border-radius: 10px;
    }

    & .info{
        & h1{
            font: var(--title-sm);
        }

        & p{
            font: var(--text-xs);
            color: var(--gray-500);
        }
    }
}